<div class="container pt-5 education">
  <div class="row">
    <div class="col-md-6 wow fadeInRight">
      <h2 class="fw-normal">Education</h2>
      <ul class="timeline mt-4 pr-md-5">
        <li>
          <div class="title">2022</div>
          <div class="details">
            <h5>
              <a
                [href]="CERTIFICATION"
                target="_blank"
                rel="noopener noreferrer"
              >
                Scrum Foundation Professional Certificate | SFPC
              </a>
            </h5>
            <small class="fg-theme">
              Certification ID: 8f261ad6-2d82-4801-8697-2c7dce993853
            </small>
            <p>June 2022</p>
          </div>
          <div class="details">
            <h5>
              <a [href]="GRADUATE" target="_blank" rel="noopener noreferrer"
                >Systems Engineer</a
              >
            </h5>
            <small class="fg-theme">
              Graduate's degree from the Pedro Ruiz Gallo National University
            </small>
            <p>April 2017 - April 2022</p>
          </div>
          <div class="details">
            <h5>
              <a [href]="SQLM" target="_blank" rel="noopener noreferrer"
                >Intermediate SQL
              </a>
            </h5>
            <small class="fg-theme">
              Course from the Pedro Ruiz Gallo National University
            </small>
            <p>April 2022</p>
          </div>
        </li>
        <li>
          <div class="title">2021</div>
          <div class="details">
            <h5>
              <a
                [href]="PLATZI_COURSE"
                target="_blank"
                rel="noopener noreferrer"
              >
                Curso Básico de Algoritmos y Pensamiento Lógico
              </a>
            </h5>
            <small class="fg-theme"
              >Credencial ID: b828b751-51af-4fb9-8e6d-dbd7de33ac4b</small
            >
            <p>August 2021</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6 wow fadeInRight" data-wow-delay="200ms">
      <h2 class="fw-normal">Experience</h2>
      <ul class="timeline mt-4 pr-md-5">
        <li>
          <div class="title">2022</div>
          <div class="details">
            <h5>
              <a href="#" target="_blank" rel="noopener noreferrer"
                >IDE Solution S.A.C - Perú
              </a>
            </h5>
            <small class="fg-theme">Programmer Analyst</small>
            <p>August 2022 - December - 2022</p>
          </div>
          <div class="details">
            <h5>
              <a href="#" target="_blank" rel="noopener noreferrer"
                >Freelancer
              </a>
            </h5>
            <small class="fg-theme">Junior Tester</small>
            <p>January 2022 - July - 2022</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
