header {
  nav {
    background-color: var(--blue) !important;
    height: 120px;
    font-size: .8rem;
    .bodyContent {
      .nameLogo {
        display: contents;
        margin: 5px;
        text-decoration: none;
        color: var(--gray-dark);

        .logo_img {
          width: 40px;
          border-radius: 10px;
        }

        .logo {
          margin-left: 0.5rem;

          &:hover,
          &:focus {
            transform: scale(1.01);
            transition: 0.3s;
          }
        }
      }

      button {
        background-color: var(--white-color);
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;

        span {
          picture {
            svg {
              width: 30px;

              path {
                fill: var(--orange-color);
              }
            }
          }

          .img-on {
            display: flex;
          }
        }
      }

      .linkCanva {
        ul {
          text-align: center;

          li {
            user-select: none;

            a {
              color: var(--white-color);
              font-size: 0.8rem;
              span {
                color: var(--green);
              }

              &:hover,
              &:focus {
                color: var(--green);
              }
            }
          }

          button {
            background-color: transparent;
            color: var(--green);
            margin: 0 10px;
            padding: 5px 20px;
            border: 1px solid var(--green);

            &:hover,
            &:focus {
              background-color: var(--bs-green);
            }
          }
        }
      }
    }

    .offcanvas {
      background-color: var(--black);

      .offcanvas-header {
        .offcanvas-title {
          font-style: italic;
        }

        .btnClose {
          span {
            picture {
              svg {
                width: 100%;

                path {
                  fill: var(--green);
                }
              }
            }
          }
        }
      }
    }
  }
}

.lateral {
  position: fixed;
  z-index: 1;
  display: flex;

  .social {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 10vw;
    background-color: var(--blue);

    section {
      display: flex;
      flex-direction: column;

      .socialBox {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          display: flex;
          
          picture {
            border-radius: 50%;

            padding: 10px;
            margin: 5px;

            svg {
              width: 20px;
              height: 20px;

              path {
                fill: var(--green);
              }
            }

            &:hover,
            &:focus {
              background-color: var(--black);
            }
          }
        }
      }
    }
  }

  .contact {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: var(--blue);
    width: 10vw;

    section {
      display: flex;
      flex-direction: column;

      .socialMail {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .mail {
          padding-bottom: 20px;
        }

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          writing-mode: vertical-lr;
          text-decoration: none;
          color: var(--green);
          font-size: .9rem;
        }
      }
    }
  }
}

.line-box {
  border-left: 2px solid var(--gray-dark);
  color: var(--blue);
  height: 120px;
  margin-top: 20px;
}
