<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex p-2">
      <!-- Agregamos la clase "d-flex" aquí -->
      <a class="navbar-brand" href="#">Eder Rimarachin</a>
    </div>

    <!-- Enlaces del Navbar para pantallas grandes -->
    <div class="p-2">
      <div class="collapse navbar-collapse d-none d-sm-block p-2">
        <!-- Agregamos la clase "d-flex" aquí -->
        <ul class="navbar-nav d-flex flex-row justify-content-end">
          <li class="nav-item me-2">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="#">Acerca de</a>
          </li>
          <li class="nav-item me-2">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Botón para mostrar el Navbar en pantallas pequeñas -->
    <div class=" p-2 d-sm-none">
      <!-- Agregamos la clase "d-flex" aquí -->
      <button
        class="navbar-toggler d-sm-none"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

  <!-- Offcanvas -->
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasNavbar"
    aria-labelledby="offcanvasNavbarLabel"
  >
    <!-- Cabecera del Offcanvas -->
    <div class="offcanvas-header navbar-dark bg-dark">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Rimarachin</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <!-- Contenido del Offcanvas -->
    <div class="offcanvas-body navbar-dark bg-dark">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdownId"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Dropdown</a
          >
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Action 1</a>
            <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
