.projects {
  height: max-content;
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  .container {
    display: flex;
    justify-content: space-between;

    .project {
      width: auto;
      height: 100%;
      margin-top: 50px;

      .body {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px 0;
        .body-paint {
          background-color: var(--navy);
          border: 1px solid black;
          border-radius: 20px;
          min-height: 200px;
          height: 100%;
          margin: 30px auto;
          padding: 20px 0;
          .type {
            color: var(--green);
          }
          a {
            text-decoration: none;
            color: var(--gray);
            font-family: var(--font-sans);
            font-weight: bold;
          }
          .description {
            font-family: var(--font-mono);
            padding: 0 10px;
            font-style: italic;
          }
          .list-tech {
            color: var(--gray-dark);
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            li {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          .projects-links {
            color: var(--white-color);
            a {
              margin: 0 10px;
              svg {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }
    }
  }
}
