<main class="container" id="home">
  <div class="container-fluid w-100 px-1 px-sm-4 px-md-5 px-lg-5 px-lg-5">
    <div class="row px-0 mx-0">
      <div class="col-md-12">
        <h1>Hola, mi nombre es</h1>
      </div>
      <div class="col-md-12">
        <h2 class="display-4">Eder Rimarachin.</h2>
      </div>
      <div class="col-md-12">
        <h3 class="display-4">Construyo Web desde lo visual a lo lógico.</h3>
      </div>
      <div class="col-md-12">
        <p class="display-5 display-sm-2 display-md-4 display-lg-4">
          Soy un ingeniero de software que se especializa en crear (y
          ocasionalmente diseñar) experiencias digitales excepcionales.
          Actualmente, me centro en la creación de productos accesibles y
          centrados en el ser humano.
        </p>
      </div>
    </div>
  </div>
</main>

<main class="container" id="about">
  <div
    class="conatiner-fluid about-me px-1 px-sm-4 px-md-5 px-lg-5 px-lg-5"
  >
    <div class="row row-12 title-about">
      <div class="col-auto numeral">01.</div>
      <div class="col-auto n-tittle"><h2>&nbsp;Sobre mí</h2></div>
      <div class="col-auto line">
        <div class="line-box"></div>
      </div>
    </div>
    <div class="row body-about justify-content-center">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 body-text">
        <p>
          ¡Hola! Mi nombre es Eder y disfruto creando cosas que duran La
          Internet. Mi interés en el desarrollo web comenzó en 2017 cuando
          Decidí usar trucos para mis juegos favoritos.
        </p>
        <p>
          Antes de dedicarme de lleno a la programación tuve que aprender
          habilidades blandas para poder estar en este mundo competitivo.
        </p>
        <p>
          Ahora, estoy desarrollando un Clone de Instagram usando Nodejs &
          Angular.
        </p>
        <p>Aquí algunas tecnologías que tratado recietemente:</p>
        <ul class="">
          <li>JavaScript (ES6+)</li>
          <li>Angular 14</li>
          <li>Node.js</li>
          <li>TypeScript</li>
          <li>MongoDB</li>
        </ul>
      </div>
      <div class="col col-12 col-sm-12 col-md-12 col-lg-6 body-photo">
        <div class="photo">
          <div>
            <img [src]="PHOTO" alt="me" />
            <div class="wrapper"></div>
            <div class="border-warper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
