#home {
  position: relative;
  height: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container-fluid {
    width: 100%;
    padding: 50px 0px;
    .row {
      div {
        h1 {
          font-family: var(--font-mono);
          color: var(--green);
          font-weight: normal;
        }

        h2,
        h3 {
          font-family: var(--font-sans);
          font-weight: bold;
        }

        h2 {
          color: var(--gray-light);
        }

        h3 {
          color: var(--gray-dark);
        }

        p {
          font-family: var(--font-sans);
          padding: 20px 0 0 0;
          // min-width: 100px;
          max-width: 600px;
          font-size: 1.1rem;
          color: var(--gray-dark);
        }
      }
    }
  }
}

#about {
  position: relative;
  width: 80vw;
  height: auto;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .about-me {
    height: fit-content;
    .title-about {
      margin: 20px 0 30px 0;
      .numeral {
        padding: 0;
        margin: 0;
        color: var(--green);
        font-family: var(--font-mono);
        font-size: 1.4rem;
      }

      .n-tittle {
        padding: 0;
        margin: 0;
        font-family: var(--font-sans);
        font-weight: bold;
        h2 {
          margin: 0;
          font-size: 1.6rem;
        }
      }

      .line {
        .line-box {
          position: relative;
          content: "";
          padding-left: 30px;
          width: 280px;
          height: 1px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
        }
      }
    }
    .body-about {
      .body-text {
        font-size: 0.8rem;
        flex-direction: column;
        p {
          font-family: var(--font-sans);
          color: var(--gray-dark);
          font-size: 1rem;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(2, minmax(140px, 200px));
          gap: 0px 10px;
          padding: 0px;
          margin: 20px 0px 0px;
          overflow: hidden;
          list-style: none;
          li {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 10px;
            padding-left: 20px;
            font-family: var(--font-mono);
            color: var(--gray-dark);
            font-size: 0.9rem;

            &::before {
              align-items: center;
              content: "▹";
              position: absolute;
              left: 0px;
              color: var(--green);
              line-height: 12px;
            }
          }
        }
      }
      .body-photo {
        .photo {
          display: flex;
          justify-content: center;

          margin: 40px 0;
          div {
            img {
              min-width: 50px;
              min-height: 50px;
              width: 300px;
              height: 300px;
              max-width: 300px;
              max-height: 300px;
              z-index: 4;
              border-radius: 5px;
            }

            .wrapper {
              margin-top: -300px;
              width: 300px;
              height: 300px;
              z-index: 3;
              background-color: aqua;
              border-radius: 5px;
              opacity: 0.5;

              &:focus,
              &:hover {
                background-color: transparent;
                margin-top: -310px;
                margin-left: -10px;
                transition: margin-top 0.3s, margin-left 0.3s;
              }
            }

            .border-warper {
              margin-top: -280px;
              margin-left: 20px;
              width: 300px;
              height: 300px;
              z-index: 1;
              border: 3px solid aqua;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }
}
