:root {
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --primary-color: #14b789;
  --violet-color: #9f00ff;
  --violet-secondary: #e0adff;
  --secondary-color: rgba(0, 0, 0, 0.025);
  --white-color: #fff;
  --green-color: #23989e;
  --white-ligth-color: #f0f8ff;
  --black: #0a0b0e;
  --gray-dark: #8a9aac;
  --gray-light: #edf2f7;
  --gray2: rgb(30, 30, 30);
  --blue: #0d203b;
  --green: #64ffda;
  --bs-green: #20c9963e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  color: white;
  background-color: #1c1b32;
  font-family: Lato, var(--font-mono);
  font-size: 18px;
  height: 100%;
  background-color: var(--blue);
}

h1 {
  font-weight: bold;
  font-size: 18px;
}

a {
  text-decoration: none;
}


::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar-track {
  background-color: var(--blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-dark);
  border-radius: 20px;
  border: 2px solid var(--blue);
}

::-webkit-scrollbar:vertical {
  width: 12px;
}